/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Bahiana&family=New+Rocker&family=Truculenta:opsz,wght@12..72,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-primary {
  color: #ff6633;
}

.bg-primary {
  background: #ff6633;
}

.border-primary {
  border-color: #ff6633;
}
.border-hover-primary:hover {
  transition: ease;
  border-color: #ff6633;
}

.new-rocker {
  font-family: "New Rocker";
  font-weight: 400;
  font-style: normal;
}

.bg-hover-primary {
  background: #ff6633;
}
.bg-secondary {
  background: #f9952f;
}

.bg-hover-primary:hover {
  background: #f9952f;
}
.text-hover-primary {
  color: #ff6633;
}
.hover-primary:hover {
  background: #f9942f25;
}
.text-hover-primary:hover {
  color: #f9952f;
}

.bg-secondary-opacity {
  background: #f9942f25;
}

.truculenta {
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.bahiana {
  font-family: "Bahiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}
