
/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Bahiana&family=New+Rocker&family=Truculenta:opsz,wght@12..72,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


.text-primary {
  color: #ff6633;
}

.bg-primary {
  background: #ff6633;
}

.border-primary {
  border-color: #ff6633;
}

.new-rocker {
  font-family: "New Rocker";
  font-weight: 400;
  font-style: normal;
}

.bg-hover-primary {
  background: #ff6633;
}

.bg-hover-primary:hover {
  background: #F9952F;
}
.text-hover-primary {
  color: #ff6633;
}

.text-hover-primary:hover {
  color: #F9952F;
}

.truculenta {
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.bahiana-regular {
  font-family: "Bahiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}
